
{{#partial "contenido"}}

<div class="container justify-content-center">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <div>
                <h2 class="text-center limit" style="bold">
                    ¡Encontraste a una mascota con chapita de Rescate de Patitas!
                </h2>
            </div>
            <div>
                <div><p class="text-center limit">
                    Si encontraste una mascota perdida con una chapita pertenecitente a Rescate De Patitas, escaneá el código QR que se encuentra en la chapita.
                </p></div>
                <div><p class="text-center limit">
                    El código te enviará a un formulario para que nos des tus datos y los datos acerca de donde encontraste a la mascota
                </p></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="position:relative; width:250px; height:206px; border-radius:4px ; overflow:hidden;">
                <img src="https://http2.mlstatic.com/D_NQ_NP_696182-MLA32289667336_092019-O.webp" width="100%" style="">
            </div>
        </div>
        <
    </div>
</div>

{{/partial}}

{{>layout.html.hbs}}
