{{#partial "contenido"}}



    <p class="text-center" class="font-weight-bold">Muchas gracias por registrar la mascota en nuestro sistema.</p>
    <p class="text-center">En la brevedad estaremos encontrando duenio para la misma</p>








{{/partial}}

{{>layout.html.hbs}}