{{#partial "contenido"}}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6">
        <div class="card text-center">
            <img src="https://http2.mlstatic.com/D_NQ_NP_696182-MLA32289667336_092019-O.webp" class="card-img-top" alt="alternatetext" width="200" height="170" >
            <div class="card-body">
                <h5 class="card-title">Mascota con chapita</h5>
                <a href="/mascotas/perdidas/conChapita" class="btn btn-primary">Resgistrar</a>
            </div>
        </div>
        </div>
            <div class="col-sm-6">
            <div class="card text-center">
                <img src="https://thumbs.dreamstime.com/b/icono-del-vector-de-impresi%C3%B3n-pato-animal-se%C3%B1al-la-huella-perro-o-gato-con-textura-grosor-s%C3%ADmbolo-forma-pie-mascota-logotipo-197041455.jpg" class="card-img-top" alt="alternatetext" width="200" height="170" >
                <div class="card-body">
                    <h5 class="card-title">Mascota sin chapita</h5>
                    <a href="#" class="btn btn-primary">Registrar</a>
                </div>
            </div>
    </div>
</div>

{{/partial}}

{{>layout.html.hbs}}
