
{{#partial "contenido"}}


    <div class="container">
        <form action="mascotas/perdidas/sinChapita/registrar-mascota-perdida" method="POST">
        <div class="row">
            <div class="col-sm-4">
                <h2>Datos del rescatista</h2>
                <p>Por favor, complete con sus datos personales:</p>

                    <input type="text" id="email" name="email" placeholder="email"><br><br>
                    <input type="text" id="nombre" name="nombre" placeholder="nombre"><br><br>
                    <input type="text" id="domicilio" name="domicilio" placeholder="domicilio"><br><br>
                    <p>fecha en la que encontro a la mascota</p>
                    <input type="date" id="fecha" name="trip-start"> <br><br>
                    <div class="input-group mb-3">
                        <select class="form-select" id="MedioDeNotificacion"><br><br>
                            <option selected>Elija un metodo...</option>
                            <option value="email">Email</option>
                            <option value="SMS">SMS</option>
                        </select>
                        <label class="input-group-text" for="inputGroupSelect02"></label>
                    </div>
            </div>
            <div class="col-sm-4">
                <br><br>
                <input type="text" id="telefono" name="telefono" placeholder="Telefono"><br><br>
                <input type="text" id="estado" name="estado" placeholder="Estado de la mascota" ><br><br>Incluya fotos de la mascota</label><br><br>
                <div class="input-group mb-3">
                    <input type="file" id="ulr1" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">
                </div><br>
                <div class="input-group mb-3">
                    <input type="file" id="url2" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">
                </div><br>
                <div class="input-group mb-3">
                    <input type="file" id="url3" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">
                </div><br>

                <input type="submit" value="Confirmar">
            </div>
            <div class="col-sm-4">
                <p>seleccione la ubicación de donde encontro a la mascota</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26264.35553387357!2d-58.451558399999996!3d-34.628317200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc988ce0d740d%3A0x602044467b90ba52!2sMcDonald&#39;s!5e0!3m2!1ses!2sar!4v1636536590808!5m2!1ses!2sar" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </form>
</div>

{{/partial}}

{{>layout.html.hbs}}