<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</header>

<div style="background-color:#45B6FE;color:white" class="jumbotron text-center">
    <h1>Rescate de Patitas</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="https://http2.mlstatic.com/D_NQ_NP_696182-MLA32289667336_092019-O.webp" class="card-img-top" alt="alternatetext" width="200" height="170" >
            <div class="card-body">
                <h5 class="card-title">Mascota con chapita</h5>
                <a href="/mascotas/perdidas/conChapita" class="btn btn-primary">Resgistrar</a>
            </div>
        </div>
        </div>
            <div class="col-sm-4">
            <div class="card text-center" style="width: 18rem;">
                <img src="https://thumbs.dreamstime.com/b/icono-del-vector-de-impresi%C3%B3n-pato-animal-se%C3%B1al-la-huella-perro-o-gato-con-textura-grosor-s%C3%ADmbolo-forma-pie-mascota-logotipo-197041455.jpg" class="card-img-top" alt="alternatetext" width="200" height="170" >
                <div class="card-body">
                    <h5 class="card-title">Mascota sin chapita</h5>
                    <a href="#" class="btn btn-primary">Registrar</a>
                </div>
            </div>
    </div>
</div>
