<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</header>
<div class="jumbotron text-center">
    <h1>Rescate de Patitas</h1>
    <p> Bienvenido {{this}}</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Datos Generales</h2>
            <p>Por favor, complete los datos que se mencionan a continuación:</p>
            <form action="/action_page.php">
                <input type="radio" id="perro" name="fav_language" value="perro">
                <label for="html">Perro</label>
                <input type="radio" id="gato" name="fav_language" value="gato">
                <label for="css">Gato</label><br>

                <input type="text" id="fname" name="fname" placeholder="Nombre de Mascota"><br>

                <label for="favcolor">Tamaño: </label>
                <select name = "dropdown">
                    <option value = "chico" selected>Chico</option>
                    <option value = "mediano">Mediano</option>
                    <option value = "grande">Grande</option>
                </select><br>

                <label for="favcolor">Color: </label>
                <input type="color" id="favcolor" name="favcolor"><br>
                <label for="favcolor">Descripción General: </label>
                <textarea id="w3review" name="w3review" rows="4" cols="35"></textarea>
                <input type="submit" value="Confirmar">
            </form>
            <p>Presione confirmar una vez ingresado todos los datos para poder dar de alta su mascota.</p>
        </div>
        <div class="col-sm-4">
            <h2>Ubicación</h2>
            <p>A continuación, seleccione la ubicación del domicilio de residencia:</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26264.35553387357!2d-58.451558399999996!3d-34.628317200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc988ce0d740d%3A0x602044467b90ba52!2sMcDonald&#39;s!5e0!3m2!1ses!2sar!4v1636536590808!5m2!1ses!2sar" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-sm-4">
            <h2>Imagenes</h2>
            <p>A continuación, seleccione las imagenes que desea subir de su mascota. Las mismas seran de utilidad ante una potencial busqueda.</p>
            <form>
                <label for="myfile">Selecciones un archivo:</label>
                <input type="file" id="myfile" name="myfile">
            </form>
        </div>
    </div>
</div>
