{{#partial "contenido"}}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Iniciar Sesi칩n</h2>
                <form action="/login" method="POST">
                    <h5>Usuario:</h5>
                    <input type="text" id="usuario" name="usuario" placeholder="Usuario"><br><br>
                    <h5>Contrase침a:</h5>
                    <input type="text" id="contrasenna" name="contrasenna" placeholder="Contrase침a"><br><br>
                    <input type="submit" value="Iniciar Sesi칩n">
                </form>
            </div>
        </div>
    </div>

{{/partial}}

{{>layout.html.hbs}}