{{#partial "contenido"}}

<div class="container">
    <form action="/signup" method="POST">
            <div class="row">
            <div class="col-sm-4">
               <h2>Datos de usuario</h2>
               <p>A continuación, complete con la información que debera utilizar para ingresar a la plataforma:</p><br>
               <input type="text" id="usuario" name="usuario" placeholder="Usuario"><br><br>
               <input type="text" id="contrasenna" name="contrasenna" placeholder="Contraseña"><br><br>
            </div>
            <div class="col-sm-4">
                <h2>Datos sobre vos</h2>
                <p>También necesitamos que nos cuentes un poco sobre vos para:</p><br>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre"><br><br>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido"><br><br>
                <label>Fecha de Nacimiento:</label><br>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento">
            </div>
            <div class="col-sm-4">
                <h2>Datos de contacto</h2>
                <p>Por ultimo, necesitamos que nos brindes información sobre como contactarte:</p><br>
                <input type="text" id="nombreContacto" name="nombreContacto" placeholder="Nombre del contacto"><br><br>
                <input type="text" id="email" name="email" placeholder="Email"><br><br>
                <input type="text" id="telefono" name="telefono" placeholder="Telefono"><br><br>

                <label for="favcolor">Medio de notificacion preferido: </label><br>
                <input type="radio" id="medioNotificacion" name="medioNotificacion" value="email">
                <label for="html">Email</label>
                <input type="radio" id="medioNotificacion" name="medioNotificacion" value="telefono">
                <label for="css">Telefono</label><br><br>
            </div>
        </div>
        <div class="text-center" >
            <input type="submit" value="Crear Usuario">
        </div>
    </form>
</div>

{{/partial}}

{{>layout.html.hbs}}