<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</header>

<div style="background-color:#45B6FE;color:white" class="jumbotron text-center">
    <h1>Rescate de Patitas</h1>
    <p> Ups! Encontramos un error</p>
</div>

<div class="container">

    <img src="https://previews.123rf.com/images/olegback/olegback1711/olegback171100097/89542845-discurso-burbuja-oops-elemento-de-c%C3%B3mic-de-vector-en-estilo-pop-art-.jpg" alt="alternatetext" width="1083" height="384">

</div>
