{{#partial "contenido"}}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div style="position:relative; width:250px; height:290px; border-radius:4px ; overflow:hidden;">
                <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple125/v4/98/bc/52/98bc52c5-84b0-7471-e76e-023408e6883c/source/256x256bb.jpg" width="100%" style="">
                <div style="position:absolute; width:100%; height:257px; top:255px; left:0px; padding-bottom:10px ">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="greyf s14" style=" cursor:pointer;">
                        <tbody><tr>
                            <td align="center; end" style="padding-right:25px; padding-left:25px">
                                <a href="/mascotas/registrar">
                                        <button class="btngrey s14 bold shadow" type="button" style="height:30px; width:100%; padding-top:0px ;border-radius:15px">Registrar Mascota
            </button></a></td></tr></tbody></table></div></div>
        </div>
        <div class="col-sm-4">
            <div style="position:relative; width:250px; height:290px; border-radius:4px ; overflow:hidden;">
                <img src="https://www.webercountyutah.gov/Animal_Shelter/images/icons/Dog-256%20(1).png" width="100%" style="">
                <div style="position:absolute; width:100%; height:257px; top:255px; left:0px; padding-bottom:10px ">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="greyf s14" style=" cursor:pointer;">
                        <tbody><tr>
                            <td align="center; end" style="padding-right:25px; padding-left:25px">
                                <a href="/mascotas/perdidas">
                                        <button class="btngrey s14 bold shadow" type="button" style="height:30px; width:100%; padding-top:0px ;border-radius:15px">Mascota Perdida
            </button></a></td></tr></tbody></table></div></div>
        </div>
        <div class="col-sm-4">
            <div style="position:relative; width:250px; height:290px; border-radius:4px ; overflow:hidden;">
                <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/98/33/29/983329e5-87a3-36cd-9473-6c9e5dc3baa7/source/256x256bb.jpg" width="100%" style="">
                <div style="position:absolute; width:100%; height:257px; top:255px; left:0px; padding-bottom:10px ">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="greyf s14" style=" cursor:pointer;">
                        <tbody><tr>
                            <td align="center; end" style="padding-right:25px; padding-left:25px">
                                <a href="/mascotas/encontradas">
                                        <button class="btngrey s14 bold shadow" type="button" style="height:30px; width:100%; padding-top:0px ;border-radius:15px">Mascotas Encontradas
            </button></a></td></tr></tbody></table></div></div>

        </div>
    </div>
</div>
        <div class="col-sm-4">
            <h3>
                <a href="/mascotas/registrar">Registrar Mascota</a>
            </h3>
            <p>Aca podras registrar las mascotas</p>
            <img src="https://is5-ssl.mzstatic.com/image/thumb/Purple125/v4/98/bc/52/98bc52c5-84b0-7471-e76e-023408e6883c/source/256x256bb.jpg" alt="alternatetext" width="256" height="256">
        </div>
        <div class="col-sm-4">
            <h3>
                <a href="/mascotas/perdidas">Mascota Perdida</a>
            </h3>
            <p>Aca podras registar una mascota perdida</p>
            <img src="https://www.webercountyutah.gov/Animal_Shelter/images/icons/Dog-256%20(1).png" alt="alternatetext" width="256" height="256">
        </div>
        <div class="col-sm-4">
            <h3>
             <a href="/mascotas/encontradas">Mascotas Encontradas</a>
            </h3>
            <p>Aca se puede visualizar el listado de Mascotas Encontradas.</p>
            <img src="https://is4-ssl.mzstatic.com/image/thumb/Purple114/v4/98/33/29/983329e5-87a3-36cd-9473-6c9e5dc3baa7/source/256x256bb.jpg" alt="alternatetext" width="256" height="256">
        </div>

{{/partial}}

{{>layout.html.hbs}}
